<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel DDT</title>
</head>
    <body>
        <form id="notification_form", method="POST", action="">
            <label for="room_number">Room number</label>
            <input type="text" name="room_number" id="room_number"><br>
            <label for="guest_name">Guest Name</label>
            <input type="text" name="guest_name" id="guest_name"><br>
            <label for="disfunction">Disfunction</label>
            <textarea rows="4" cols="50" name="disfunction"></textarea><br>
            <input type="submit" value="Send">
        </form>
    </body>
</html>










    </form>
</body>
</html>